<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Handle Demo</title>
</head>
<body>

<section class="path_variable_section">
    <h3>Path Variable Example</h3>
    <p th:if="${path_variable_response != null}" th:text="${path_variable_response}"></p>
    <form action="/path_variable/example/value_in_path_variable" method="get">
      <input type="submit" value="Submit">
    </form>
</section>

<hr>

<section class="request_param_section">

    <h3>Request Param Example</h3>

    <h4>Method Get Example</h4>
    <p th:if="${request_param_get_method_response != null}" th:text="${request_param_get_method_response}"></p>

    <form action="/request_param/form_get_method" method="get">
        <label for="user_name_id">User Name</label>
        <input id="user_name_id" type="text" name="user_name" placeholder="User name">
        <label for="user_surname_id">User Surname</label>
        <input id="user_surname_id" type="text" name="user_surname" placeholder="User surname">
        <input type="submit" value="Submit">
    </form>

    <h4>Method Post Example</h4>
    <p th:if="${request_param_post_method_response != null}" th:text="${request_param_post_method_response}"></p>

    <form action="/request_param/form_post_method" method="post">
        <label for="car_brand_id">User Name</label>
        <input id="car_brand_id" type="text" name="car_brand" placeholder="Car Brand">
        <label for="car_model_id">User Surname</label>
        <input id="car_model_id" type="text" name="car_model" placeholder="Car Model">
        <input type="submit" value="Submit">
    </form>

</section>

<hr>

<section class="model_attribute_section">

    <h3>Model Attribute Example</h3>
    <p th:if="${model_attribute_response != null}" th:text="${model_attribute_response}"></p>

    <div th:if="${modelAttributeForm != null}">
        <form action="/model_attribute/model_attribute_process" method="post" th:object="${modelAttributeForm}">
            <label for="name_input_id">User Name</label>
            <input id="name_input_id" type="text" name="name" placeholder="Name" th:field="*{name}">
            <label for="surname_input_id">User Surname</label>
            <input id="surname_input_id" type="text" name="surname" placeholder="Surname" th:field="*{surname}">
            <label for="city_input_id">User Surname</label>
            <input id="city_input_id" type="text" name="city" placeholder="City" th:field="*{city}">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div th:unless="${modelAttributeForm != null}">
        <form action="/model_attribute/"  method="get">
            <input type="submit" value="Upload Form" />
        </form>
    </div>

</section>

<hr>

</body>
</html>